body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: green;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #333;
  text-align: center;
}

nav a {
  color: white;
  padding: 14px;
  display: inline-block;
  text-decoration: none;
}

nav a:hover {
  background: green;
}

section {
  padding: 20px;
  background: white;
  margin: 10px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}